<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>dearesteunhae</title>
<link rel=stylesheet type="text/css" href="/static/css.css">
</head>
<body>

<div>
<ul>
<li class="barheader">
<div align="right"><a href="signup">Signup</a> <a href="login">Login</a> <a href="logout">Logout</a></div>
</li>
<li>
<a href="https://www.instagram.com/dearesteunhae/?hl=zh-hk" target="_blank"><img src="/static/tester1.png"></a></li>
 <li><ul class="drop-down-menu">
        <li><a href="tester">Home</a>
        </li>
        <li><a href="aboutus">About us</a>
        </li>
        <li><a href="hihi">Latest Group Order</a>
        </li>

    </li></ul>
</ul>
</div>

<div>

<h2 class="header">About us</h2>
<p>
Dearesteunhae
<br>Instagram:<a style="color:blue;" href="https://www.instagram.com/dearesteunhae/?hl=zh-hk" target="_blank">@dearesteunhae</a><br>
Twitter:<a style="color:blue;" href="https://twitter.com/dearesteunhaehk" target="_blank">@dearesteunhaehk</a><br>
A fanpage of Super Junior founded on instagram in April 2015<br>
We aim at providing latest information of Super Junior<br>
We also organzing local group order for fans to purchase Super Junior's album<br>
To join lastest group order please go to <a style="color:blue;" href="hihi">Latest Group Order</a>
</p>

</div>

<div>

<h2 class="header">Fan activties organised</h2>
<div class="row">
  <div class="column"><p style="color:navy;"><b>Seoul Sinchon station advertisement</b></p>
  <img src="/static/advert.jpeg" width="450" height="420">
  </div>
  <div class="column">
  <p style="color:navy;"><b>Eunhyuk's birthday cup sleeve event</b></p>
   <img width="420" height="420" src="/static/cup.jpg">
  </div>
  <div class="column">
  <p style="color:navy;"><b>SS7 in Hong Kong banner event</b></p>
   <img width="480" height="420" src="/static/banner.jpg">
  </div>
</div> 





</body>
</html>