<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>dearesteunhae</title>
<link rel=stylesheet type="text/css" href="/static/css.css">
</head>

<div>
<ul>
<li class="barheader"><div align="right"><a href="signup">Signup</a> <a href="login">Login</a> <a href="logout">Logout</a></div>
</li>
<li>
<a href="https://www.instagram.com/dearesteunhae/?hl=zh-hk" target="_blank"><img src="/static/tester1.png"></a></li>
 <li><ul class="drop-down-menu">
        <li><a href="tester">Home</a>
        </li>
        <li><a href="aboutus">About us</a>
        </li>
        <li><a href="hihi">Latest Group Order</a>
        </li>

    </li></ul>
</ul>
</div>

</head>
<body>
	  <div class="container">
<div class="column">
	  <h2>Latest Group Order</h2>
    <h4 style="margin-left: 120px ; font-family: arial">Super Junior SS7 In Tokyo Dome DVD 2018</h4>

    <div class="product">
        <img src="/static/SS7tk.jpg"">
        <p class="prices" data_value="750" id="price" name="price">Price:$750 @ 1</p>
    </div>
	<form action = "/hihi" method = "post" style="margin-left: 40px">

	    <div class="form-group">
			<label for="item">item:</label>
			<input type="item" class="form-control" id="" placeholder="Enter SS7" name="item">
		</div>
		
		<div class="form-group">
			<label for="quantity">quantity:</label>
			<input type="quantity" class="form-control" id="quantity" placeholder="Enter integer" name="quantity">
		</div>
		<div class="form-group">
			<label for="price">price:</label>
			<input type="price" class="form-control" id="price" placeholder="Enter integer" name="price">
		</div>
			<button type="sumbit" class="btn btn-default" onclick="myFunction()">Submit</button>
	</form>
	
	<h4 style="margin-left: 120px; font-family: arial" >Super Junior D&E Style DVD 2018</h4>

    <div class="product">
        <img src="/static/D&Edvd.jpg">
        <p class="prices" data_value="795">Price:$795 @ 1</p>
       <form action = "/hihi" method = "post">

	    <div class="form-group">
			<label for="item">item:</label>
			<input type="item" class="form-control" id="" placeholder="Enter D&E" name="item">
		</div>
		
		<div class="form-group">
			<label for="quantity">quantity:</label>
			<input type="quantity" class="form-control" id="quantity" placeholder="Enter integer" name="quantity">
		</div>
		<div class="form-group">
			<label for="price">price:</label>
			<input type="price" class="form-control" id="price" placeholder="Enter integer" name="price">
		</div>
			<button type="sumbit" class="btn btn-default" onclick="myFunction()">Submit</button>
	</form>
	</div>
</div>
<div class="column1" style="margin-left: 120px; padding-top: 100px" >
<p>[Disc-1][Disc-2]</p>
<li>Opening</li>
<li>Black Suit</li>
<li>Scene Stealer</li>
<li>MAMACITA ‐AYAYA‐</li>
<li>Shirt</li>
<li>Animals</li>
<li>It's You</li>
<li>One More Time (Otra Vez)</li>
<li>愛してるって言えない</li>
<li>One More Chance</li>
<li>The Little Prince</li>
<li>‘Bout you</li>
<li>Oppa, Oppa + Can You Feel It?</li>
<li>Runaway</li>
<li>Too Many Beautiful Girls</li>
<li>★BAMBINA★</li>
<li>On and On</li>
<li>Super Duper</li>
<li>Sorry, Sorry</li>
<li>Mr. Simple</li>
<li>美人 (BONAMANA)</li>
<li>Letter from LEETEUK</li>
<li>I do</li>
<li>Make You Smile</li>
<li>Shining Star</li> 
<li>Devil</li>
<li>Wow! Wow!! Wow!!!</li>
<li>Miracle</li>
<li>Ending</li>
</div>

<div class="column1" style="margin-left: 120px ;padding-top: 230px">
<p>[初回生産限定盤仕様/限定特典]</p>
<li>豪華三方背BOX仕様</li>
<li>PHOTOBOOK（40P）付</li>
<li>1 Random photocards（Total 5 photo cards）</li>
 
<p>[Disc-1][Disc-2]</p>
<li>LIVE concert + doucumentary（Total 180 minutes</li>
 
<p>[Disc-3]　※初回生産限定盤のみ（Total 60～65 minutes</p>
<li>D&Eインタビュー（Talk & Game）</li>
<li>スペシャルトーク（STYLE座談会）</li>
<li>“I WANNA DANCE” ダイジェストムービー</li>
<li>MCダイジェストムービー</li>
 
<p>[Disc-4]　CD（2曲入り）　※初回生産限定盤のみ</p>
<li>Swaggerific ／ EUNHYUK</li>
<li>Perfect –Japanese ver- ／ DONGHAE</li>
 
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>

<script>
function myFunction() {
  alert("Order received. Please wait for email confirmation. You can continue to shop!");
}
</script>


</body>
</html>
