<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>dearesteunhae</title>
<link rel=stylesheet type="text/css" href="/static/css.css">
</head>
<body>

<div>
<ul>
<li class="barheader">
<div align="right"><a href="signup">Signup</a> <a href="login">Login</a> <a href="logout">Logout</a></div>
<li>
<a href="https://www.instagram.com/dearesteunhae/?hl=zh-hk" target="_blank"><img src="/static/tester1.png"></a></li>
<h1>{{test}}</h1>
 <li><ul class="drop-down-menu">
        <li><a href="tester">Home</a>
        </li>
        <li><a href="aboutus">About us</a>
        </li>
        <li><a href="hihi">Latest Group Order</a>
        </li>

    </li></ul>
</ul>
</div>

	<body>
		<form action="http://localhost:5000/login" method = "post">
			<h2>Login</h2>
			<p>Username:
			<br><input type= "text" name="username" /></p>
			<p>Password:
			<br><input type= "Password" name="password" /></p>
			<br><input type= "submit" name="submit" /></p>
		</form>

	</body>
</html>
