<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>dearesteunhae</title>
<link rel=stylesheet type="text/css" href="/static/css1.css">
</head>
<body>

<div>
<ul>
<li class="barheader"><div align="right"><a href="signup">Signup</a> <a href="login">Login</a> <a href="logout">Logout</a></div>
</li>
<li>
<a href="https://www.instagram.com/dearesteunhae/?hl=zh-hk" target="_blank"><img src="/static/tester1.png"></a></li>
 <li><ul class="drop-down-menu">
        <li><a href="tester">Home</a>
        </li>
        <li><a href="aboutus">About us</a>
        </li>
        <li><a href="hihi">Latest Group Order</a>
        </li>

    </li></ul>
</ul>
</div>

</head>
	<body>
	  <div class="container">
	  <h2>New User</h2>
	<form action = "/signup" method = "post">
		<div class="form-group">
			<label for="username">Username:</label>
			<input type="text" class="form-control" id="username" placeholder="Enter Username" name="username">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" id="pwd" placeholder="Enter Password" name="password">
		</div>
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email" placeholder="Please use gmail to register" name="email">
		</div>
			<button type="sumbit" class="btn btn-default">Submit</button>
	</form>
		</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
</body>
</html>
