<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>dearesteunhae</title>
<link rel=stylesheet type="text/css" href="/static/css.css">
</head>
<body>

<div>
<ul>
<li class="barheader">
<div align="right"><a href="signup">Signup</a> <a href="login">Login</a> <a href="logout">Logout</a></div></li>
<li>
<a href="https://www.instagram.com/dearesteunhae/?hl=zh-hk" target="_blank"><img src="/static/tester1.png"></a>
</li>
 <li><ul class="drop-down-menu">
        <li><a href="tester">Home</a>
        </li>
        <li><a href="aboutus">About us</a>
        </li>
        <li><a href="hihi">Latest Group Order</a>

        </li>
    </li></ul>
</ul>
</div>

<h2>Sitemap</h2>

<a href="tester" class="sa">Home</a><br>
<a href="aboutus" class="sa">About us</a><br>
<a href="hihi" class="sa"> Latest Group Order</a>

<h2 class="row">Recent Music Video</h2>

<div class="row">
  <div class="column">
  <p>Black Suit music video</p>
  <iframe width="420" height="315" src="https://youtube.com/embed/MvqB6JsRbsc" class="video">
  </iframe>	
<p class="text">comment</p>
  <form action="http://localhost:5000/comment", method ='POST'>
   <div class ="row">
    <div clss="col-sm-7">
    <div class="row">
     <div class="col-sm-6 form-group">
     <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
     </div>
     <div class="col-sm-6 form-group">
     <input class="form-control" id="name" name="email" placeholder="Email" type="email" required>
    </div>
    <textarea class="form-control" id="commentInfo" name="commentInfo" placeholder="Comment" rows="5"></textarea><br>
    <div class="row">
    <div class="col-sm-12 form-group">
    <button class="btn btn-default pull-right" right="submit">Send</button>
    </div>
    </div>
    </div>
    </div> 
    </div>
    </form>
   <input type="button" onclick="window.location.href='{{url_for('showcom')}}'" value="Show Comment">
    <table class="table" id="showcom">
    <thead>
      <tr id="showcom">
        <th id ="commentName">Name</th>
        <th id ="commentInfo">Details</th>
      </tr>
    </thead>
    <tbody>
    {% for n in range(name|length)%}
      <tr>
        <td>{{name[n]}}</td>
        <td>{{Info[n]}}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
 </div>
  <div class="column">
  <p>One More Chance music video</p>
  <iframe width="420" height="315" src="https://youtube.com/embed/-UROg0lsqW00" class="video">
  </iframe>
   <p class="text">comment</p>
  <form action="http://localhost:5000/comment2", method ='POST'>
   <div class ="row">
    <div clss="col-sm-7">
    <div class="row">
     <div class="col-sm-6 form-group">
     <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
     </div>
     <div class="col-sm-6 form-group">
     <input class="form-control" id="name" name="email" placeholder="Email" type="email" required>
    </div>
    <textarea class="form-control" id="commentInfo" name="commentInfo" placeholder="Comment" rows="5"></textarea><br>
    <div class="row">
    <div class="col-sm-12 form-group">
    <button class="btn btn-default pull-right" right="submit">Send</button>
    </div>
    </div>
    </div>
    </div> 
    </div>
    </form>
   <input type="button" onclick="window.location.href='{{url_for('showcom')}}'" value="Show Comment">
    <table class="table" id="showcom">
    <thead>
      <tr id="showcom">
        <th id ="commentName">Name</th>
        <th id ="commentInfo">Details</th>
      </tr>
    </thead>
    <tbody>
    {% for n in range(name|length)%}
      <tr>
        <td>{{name[n]}}</td>
        <td>{{Info[n]}}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
  <div class="column">
  <p>One More Time music video</p>
  <iframe width="420" height="315" src="https://youtube.com/embed/7GqYSbc1tsM" class="video">
  </iframe>
   <p class="text">comment</p>
  <form action="http://localhost:5000/comment3", method ='POST'>
   <div class ="row">
    <div clss="col-sm-7">
    <div class="row">
     <div class="col-sm-6 form-group">
     <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
     </div>
     <div class="col-sm-6 form-group">
     <input class="form-control" id="name" name="email" placeholder="Email" type="email" required>
    </div>
    <textarea class="form-control" id="commentInfo" name="commentInfo" placeholder="Comment" rows="5"></textarea><br>
    <div class="row">
    <div class="col-sm-12 form-group">
    <button class="btn btn-default pull-right" right="submit">Send</button>
    </div>
    </div>
    </div>
    </div> 
    </div>
    </form>
   <input type="button" onclick="window.location.href='{{url_for('showcom')}}'" value="Show Comment">
    <table class="table" id="showcom">
    <thead>
      <tr id="showcom">
        <th id ="commentName">Name</th>
        <th id ="commentInfo">Details</th>
      </tr>
    </thead>
    <tbody>
    {% for n in range(name|length)%}
      <tr>
        <td>{{name[n]}}</td>
        <td>{{Info[n]}}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div> 




</body>
</html>
