body {
	font-family: Impact ;
}

section {
  margin-left: 200px;
}

.sbody{
	background: #f2f2f2;
}

.header{
	box-shadow: 0 3px 8px rgba(225, 225, 225, 1);
	border = 0;
  display: block;
}

.barheader{
	border = 0;
  background: #006AB4;
	padding: 0 20px;
	word-spacing:5px;
        
}

a{
	text-decoration:none;
}

a:link {

	text-decoration:none;
	color: #fff;
}
a:visited {

	text-decoration:none;
	color: white;
}
a:hover {

	text-decoration:none;
	color: #3538fb;
}
.sa{
	text-decoration: underline;
	color: #002981;
}

.sa:link{
	text-decoration: underline;
	color: #002981;
}

.sa:visited{
	text-decoration: underline;
	color: #002981;
}

.sa:hover{
	text-decoration: underline;
	color: #002981;
	background: #e6efff;
}

.input{
	width: 300px;
	height: 150px;
}

p{
	box-shadow: 0 3px 8px rgba(225, 225, 225, 1);
	border = 0;
        display: block;
}



ul { 
	border = 0;
        margin: 0 auto;
        padding: 0;
	vertical-align: baseline;
	list-style-type: none;
	box-shadow: 0 3px 8px rgba(225, 225, 225, 1);
    }

    ul.drop-down-menu {
	border = 0;
        display: table-cell;
        font-size: 15px;
        vertical-align: middle;
        text-align: center;
	list-style-type: none;
    }

    ul.drop-down-menu li {
	border = 0;
        position: relative;
        white-space: nowrap;
    }

    ul.drop-down-menu > li:last-child {

    }

    ul.drop-down-menu > li {
        float: left; 
    }

     ul.drop-down-menu a {
	color: #000000;
        display: block;
        padding: 0 30px;
        text-decoration: none;
        line-height: 40px;
    }
    ul.drop-down-menu a:hover { 
	color: #ffffff;
        background: #0e238d;
    }
    ul.drop-down-menu li:hover > a { 
   	 color:  #ffffff;
   	 background: #0e238d;
    }
  ul.drop-down-menu ul { 
          display: none;
    }

    ul.drop-down-menu li:hover > ul { 
        display: block;
	color:  #000000;
   	background:#0e238d;
    }
  ul.drop-down-menu ul {
        border: 0;
        position: absolute;
        z-index: 99;
        left: -1px;
        top: 100%;
       min-width: 180px;
    }

    ul.drop-down-menu ul li {
   	background:#e8e6ff;
    }

    ul.drop-down-menu ul li:last-child {
	border-bottom: none;
    }

    ul.drop-down-menu ul ul { 
        z-index: 999;
        top: 10px;
        left: 90%;
    }
* 

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.video:hover{
	
	transform:scale(1.3);
}

.video{
	transition: transform.2s;
}

.column {
  float: left;
  width: 30%;
}


.row:after {
  content: "";
  display: table;
   clear: both;
}


.column1 {
  float: left;
  width: 33.33%;
  padding: 15px;
  
}


.pic:hover{
	
	transform:scale(1.3);
}

.pic{
	transition: transform.2s;
}


@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} 


.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 

 


.product{
  width:500px;
  padding:10px;
  margin-left:30px;
 }

.product img{

  width:500px;height:600px
 }
